@font-face {
    font-family: 'FrederickatheGreat';
    src: url(fontes/FrederickatheGreat-Regular.ttf);
}
@font-face{
    font-family: "RobotoMono";
    src: url(fontes/RobotoMono-VariableFont_wght.ttf);
}

body{
    font-family: 'RobotoMono';
    font-size: 20px;
    width: 100vw;
    margin: 0;
    padding: 0;
}

p, a{
    color: #400D51;
    text-decoration: none;
}

a:hover, .contacts nav a:hover{
    cursor: pointer;
    color:#8f12c9;
}

.container-column{
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.container-row{
    width: 90vw;
    display: flex;
    flex-direction: row;
}



/* FRONT COVER */

#front-cover{
    height: auto;
    width: 90vw;
    margin: 0 auto;
    text-align: center;
    padding-top: 4rem;
    flex-direction: column;
}

#front-cover img{
    width: 30%;
    margin: auto;
}

#myname{
    height: auto;
    margin: auto;
    color: black;
    display: inline-block;
    vertical-align:middle;
    font-family: 'FrederickatheGreat';
    font-weight: bold;
    font-size: clamp(1rem, 2rem + 3vw, 2rem + 6vw);
}

#subtitle{
    font-size: clamp(1rem, 3vw, 2rem + 2vw);
    height: auto;
    margin: auto;
    color: black;
}

#front-cover h4{
    font-size: clamp(0.5rem, 1rem + 1vw, 3rem);
    text-align: center;
}

.button-contactme{
    width: auto;
    text-transform: uppercase;
    position: absolute;
    top: 2rem;
    right: 2rem;
    border:0.2rem solid black;
}
/* MIDDLE */





/* FOOTER */
.footer{
    width: 100vw;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #cccccc;
    flex-direction: column;
    /* background-color:transparent; */
    /* display:inline-flex; */
    /* align-items: center; */
    /* justify-content: center; */
}

.text-footer{
    font-size: clamp(0.5rem, 0.6rem + 1vw, 1rem);
    color: black ;
}


.button-top{
    width: 20vw;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    bottom: 2rem;
    right: 1rem;
}

.button-top img{
    width: 20%;
    height: 20%;
}




/* Contatos */

.contacts{
    width: 95vw;
    margin: 0 auto;
    padding: 0rem;
    flex-direction: column;
}

.contacts .header{
    background-color: #CCCCCC;
    padding: 1rem 0; /* para itens não enconstar nas margens do header*/
}

/* CAIXA DO MENU */
.contacts .caixa-menu{
    width: 95%;
    margin: 0 auto;
    position: relative;
}

.caixa-menu #title-contacs{
    display: inline-block;
    font-family: 'FrederickatheGreat';
    font-size: clamp(1rem, 2rem + 1vw, 3rem + 1vw);
}

/* ITENS MENU */
.contacts nav{
    position: absolute;
    right: 0;
    top: 10px;
}

.contacts nav li{
    margin: 0 0 0 2rem;
    display: inline;
}

.contacts nav a{
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    font-size: clamp(0.5rem, 0.6rem + 1vw, 1rem + 1vw);
}



.list-contacts{
    width: 90%;
    margin: 0 auto;
    padding: 2rem 0 ;
}

.list-contacts li{
    display: inline-block;
    text-align: center;
    width: 45%;
    margin: 1.5%;
    background-color: #cccccc;
    border: 0.2rem solid black;
    border-radius: 2rem;
    vertical-align: top;
    box-sizing: border-box;
}

.list-contacts li:hover{
    border-color: #8f12c9;

}

.list-contacts li:active{
    border-color: #ee940e ;
}

.list-contacts p{
    font-size: clamp(0.5rem, 0.5rem + 1vw, 1rem);
    font-weight: bold;
}

.list-contacts img{
    width: 30%;
    height: 30%;
    max-height: 50%;
    max-width: 50%;
}
