@font-face {
    font-family: 'FrederickatheGreat';
    src: url(fontes/FrederickatheGreat-Regular.ttf);
}
@font-face{
    font-family: "RobotoMono";
    src: url(fontes/RobotoMono-VariableFont_wght.ttf);
}

body{
    font-family: 'RobotoMono';
    font-size: 20px;
    width: 100vw;
    margin: 0;
    padding: 0;
}

p, a{
    color: #400D51;
    text-decoration: none;
    transition: 0.4s;
}

a:hover{
    cursor: pointer;
    color:#8f12c9;
}

.container-column{
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.container-row{
    width: 90vw;
    display: flex;
    flex-direction: row;
}



/* FRONT COVER */

#front-cover{
    height: auto;
    width: 90vw;
    margin: 0 auto;
    text-align: center;
    padding-top: 4rem;
    flex-direction: column;
    position: relative;
}

#front-cover img{
    width: 30%;
    margin: auto;
}

#myname{
    height: auto;
    margin: auto;
    color: black;
    display: inline-block;
    vertical-align:middle;
    font-family: 'FrederickatheGreat';
    font-weight: bold;
    font-size: clamp(1rem, 2rem + 3vw, 2rem + 6vw);
}

#subtitle{
    font-size: clamp(1rem, 3vw, 2rem + 2vw);
    height: auto;
    margin: auto;
    color: black;
}

#front-cover h4{
    font-size: clamp(0.5rem, 1rem + 1vw, 3rem);
    text-align: center;
}





/* MIDDLE */
