@font-face {
    font-family: 'FrederickatheGreat';
    src: url(assets/fonts/FrederickatheGreat-Regular.ttf);
}

/* CSS variables */
:root{
    --primary-color: #20262E;
    --secundary-color: #E9E8E8;
    --tertiary-color: #DD58D6;
    --shadow: #913175;
    --font: FrederickatheGreat;
    --white: white;
    --gray: #7380B9;
    --gray2: #EEEEEE;
    
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--primary-color);
    font-family: var(--font);
    color: var(--white);
}


.background{
    width: 100%;
    min-height: 100vh;
    /* height: auto; */
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;


}

#home{
    background-image: url(/assets/images/background.jpg);
}

.text-justify{
    text-align: justify;
}

.main-btn{
    background-color: var(--gray) ;
    color: var(--white);
}

#canvas-1{
    background-color: var(--gray2);
}

.project-card{
    color: var(--white);
}

/* .card-img:hover .card-title{
    display: block;
} */

#projects{
    background-image: url(/assets/images/background2.jpg);
}

.form-floating{
    background-color: transparent;
    color: #20262E;
}